@keyframes fadeout {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../assets/img/loading.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loader-title {
    font-size: 2.3vw;
    color: #fff;
}

@keyframes spinner {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.loader-spinner {
    width: 5vw;
    height: 5vw;
    margin-top: 2.5vh;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    animation-name: spinner;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}