@font-face {
    font-family: "Made okine regular";
    src: url(../../../assets/font/made-okine-sans-personal-use-cufonfonts-webfont/MADEOkineSansPERSONALUSE-Regular.woff);
}
@font-face {
    font-family: "Made okine medium";
    src: url(../../../assets/font/made-okine-sans-personal-use-cufonfonts-webfont/MADEOkineSansPERSONALUSE-Medium.woff);
}